@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin primary-font($font-size, $line-height) {
  font-family: "Lato", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin secondary-font($font-size, $line-height, $text-transform: none, $font-weight: 400) {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  font-weight: $font-weight;
}
