.additional-offer__name {
  @include secondary-font(16px, 16px, uppercase);
  color: #222222;
}

.additional-offer__weight {
  font-size: 14px;
  font-weight: 14px;
  color: #444444;
}

.additional-offer__price {
  font-size: 14px;
  font-weight: 14px;
  color: #444444;
}
