.additional-offer__name {
  @include secondary-font(16px, 16px, uppercase);
  color: $primary-heading-color;
}

.additional-offer__weight {
  font-size: 14px;
  font-weight: 14px;
  color: $primary-text-color;
}

.additional-offer__price {
  font-size: 14px;
  font-weight: 14px;
  color: $primary-text-color;
}
