.button {
  @include secondary-font(16px, 20px, uppercase);

  &--primary {
    color: $alternative-color;
    background-color: $primary-button-color;
  }

  &--secondary {
    color: $primary-text-color;
    background-color: $secondary-button-color;
  }
}
