.contacts {
  &--darker {
    background-color: $secondary-background-color;
  }
}

.contacts__heading {
  @include secondary-font(16px, 20px, uppercase);
  color: $secondary-heading-color;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  color: $primary-text-color;
}

.contacts__map {
  background-color: $secondary-background-color;
}
