.more-cards__title {
  @include secondary-font(16px, 20px, uppercase);
  color: $secondary-heading-color;
}

.more-cards__subtitle {
  font-size: 12px;
  line-height: 16px;
  color: $primary-text-color;
}
