.product {
  @media (min-width: $tablet-width) {
    background-color: $secondary-background-color;
    background-size: auto 430px;
    background-position: center bottom;
  }
}

.product__title {
  @include secondary-font(16px, 20px, uppercase);
  color: $primary-heading-color;
}
