.program {
  background-color: $secondary-background-color;
}

.program__title {
  @include secondary-font(24px, 37px, uppercase);
}

.program__description {
  color: $primary-text-color;
}

.program__link {
  @include secondary-font(16px, 16px, uppercase);
  color: $main-color;
}
