.promotion {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/catalog-background-mobile@1x.png");
  background-size: 280px 290px;
  background-repeat: no-repeat;
}

.promotion__info {
  font-size: 16px;
  line-height: 20px;
  color: $alternative-color;
}
